C#/ESMSV3_1/ESMSV3_1/Connected Services/ServiceReference1/EnterpriseSMSImplService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.esms.mobitel.lk/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" name="EnterpriseSMSImplService" targetNamespace="http://ws.esms.mobitel.lk/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://ws.esms.mobitel.lk/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="serviceTest" type="tns:serviceTest" />
      <xs:element name="serviceTestResponse" type="tns:serviceTestResponse" />
      <xs:element name="createSession" type="tns:createSession" />
      <xs:element name="createSessionResponse" type="tns:createSessionResponse" />
      <xs:element name="renewSession" type="tns:renewSession" />
      <xs:element name="renewSessionResponse" type="tns:renewSessionResponse" />
      <xs:element name="closeSession" type="tns:closeSession" />
      <xs:element name="closeSessionResponse" type="tns:closeSessionResponse" />
      <xs:element name="isSession" type="tns:isSession" />
      <xs:element name="isSessionResponse" type="tns:isSessionResponse" />
      <xs:element name="sendMessages" type="tns:sendMessages" />
      <xs:element name="sendMessagesResponse" type="tns:sendMessagesResponse" />
      <xs:element name="sendMessagesMultiLang" type="tns:sendMessagesMultiLang" />
      <xs:element name="sendMessagesMultiLangResponse" type="tns:sendMessagesMultiLangResponse" />
      <xs:element name="sendCampaignMessages" type="tns:sendCampaignMessages" />
      <xs:element name="sendCampaignMessagesResponse" type="tns:sendCampaignMessagesResponse" />
      <xs:element name="getMessagesFromShortcode" type="tns:getMessagesFromShortcode" />
      <xs:element name="getMessagesFromShortcodeResponse" type="tns:getMessagesFromShortcodeResponse" />
      <xs:element name="getMessagesFromLongNumber" type="tns:getMessagesFromLongNumber" />
      <xs:element name="getMessagesFromLongNumberResponse" type="tns:getMessagesFromLongNumberResponse" />
      <xs:element name="getSentMessageReports" type="tns:getSentMessageReports" />
      <xs:element name="getSentMessageReportsResponse" type="tns:getSentMessageReportsResponse" />
      <xs:element name="getDeliveryReports" type="tns:getDeliveryReports" />
      <xs:element name="getDeliveryReportsResponse" type="tns:getDeliveryReportsResponse" />
      <xs:complexType name="serviceTest">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:user" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="serviceTestResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="user">
        <xs:sequence>
          <xs:element minOccurs="0" name="customer" type="xs:long" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="username" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="session">
        <xs:sequence>
          <xs:element minOccurs="0" name="expiryDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="isActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="sessionId" type="xs:string" />
          <xs:element minOccurs="0" name="user" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createSession">
        <xs:sequence>
          <xs:element minOccurs="0" name="user" type="tns:user" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createSessionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:session" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="renewSession">
        <xs:sequence>
          <xs:element minOccurs="0" name="session" type="tns:session" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="renewSessionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:session" />
          <xs:element minOccurs="0" name="status" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="closeSession">
        <xs:sequence>
          <xs:element minOccurs="0" name="session" type="tns:session" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="closeSessionResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="isSession">
        <xs:sequence>
          <xs:element minOccurs="0" name="session" type="tns:session" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="isSessionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:boolean" />
          <xs:element minOccurs="0" name="status" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="smsMessage">
        <xs:sequence>
          <xs:element name="message" type="xs:string" />
          <xs:element minOccurs="0" name="messageId" type="xs:long" />
          <xs:element maxOccurs="unbounded" name="recipients" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="retries" type="xs:int" />
          <xs:element name="sender" type="xs:string" />
          <xs:element minOccurs="0" name="sequenceNum" type="xs:int" />
          <xs:element minOccurs="0" name="status" type="xs:int" />
          <xs:element minOccurs="0" name="time" type="xs:dateTime" />
          <xs:element minOccurs="0" name="type" type="xs:string" />
          <xs:element minOccurs="0" name="user" type="tns:user" />
          <xs:element name="messageType" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sendMessages">
        <xs:sequence>
          <xs:element minOccurs="0" name="session" type="tns:session" />
          <xs:element minOccurs="0" name="smsMessage" type="tns:smsMessage" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sendMessagesResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="smsMessageMultiLang">
        <xs:sequence>
          <xs:element name="message" type="xs:string" />
          <xs:element name="messageId" type="xs:long" />
          <xs:element maxOccurs="unbounded" name="recipients" nillable="true" type="xs:string" />
          <xs:element name="retries" type="xs:int" />
          <xs:element name="sender" type="xs:string" />
          <xs:element name="sequenceNum" type="xs:int" />
          <xs:element name="status" type="xs:int" />
          <xs:element minOccurs="0" name="time" type="xs:dateTime" />
          <xs:element minOccurs="0" name="type" type="xs:string" />
          <xs:element minOccurs="0" name="user" type="tns:user" />
          <xs:element name="messageType" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sendMessagesMultiLang">
        <xs:sequence>
          <xs:element minOccurs="0" name="session" type="tns:session" />
          <xs:element minOccurs="0" name="smsMessageMultiLang" type="tns:smsMessageMultiLang" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sendMessagesMultiLangResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="smsCampaignMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element name="messageId" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="recipients" nillable="true" type="xs:string" />
          <xs:element name="retries" type="xs:int" />
          <xs:element name="esmClass" type="xs:int" />
          <xs:element minOccurs="0" name="sender" type="xs:string" />
          <xs:element name="sequenceNum" type="xs:int" />
          <xs:element name="status" type="xs:int" />
          <xs:element minOccurs="0" name="time" type="xs:string" />
          <xs:element minOccurs="0" name="type" type="xs:string" />
          <xs:element minOccurs="0" name="user" type="tns:user" />
          <xs:element minOccurs="0" name="messageType" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sendCampaignMessages">
        <xs:sequence>
          <xs:element minOccurs="0" name="session" type="tns:session" />
          <xs:element minOccurs="0" name="smsCampaignMessage" type="tns:smsCampaignMessage" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sendCampaignMessagesResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getMessagesFromShortcode">
        <xs:sequence>
          <xs:element minOccurs="0" name="session" type="tns:session" />
          <xs:element minOccurs="0" name="shortcode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getMessagesFromShortcodeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:smsMessage" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getMessagesFromLongNumber">
        <xs:sequence>
          <xs:element minOccurs="0" name="session" type="tns:session" />
          <xs:element minOccurs="0" name="longNumber" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getMessagesFromLongNumberResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:smsMessage" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sentMessages">
        <xs:sequence>
          <xs:element minOccurs="0" name="alias" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" name="recipient" type="xs:string" />
          <xs:element minOccurs="0" name="status" type="xs:string" />
          <xs:element minOccurs="0" name="timeSent" type="xs:string" />
          <xs:element minOccurs="0" name="timeDelivered" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getSentMessageReports">
        <xs:sequence>
          <xs:element minOccurs="0" name="session" type="tns:session" />
          <xs:element minOccurs="0" name="startDate" type="xs:string" />
          <xs:element minOccurs="0" name="endDate" type="xs:string" />
          <xs:element minOccurs="0" name="alias" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getSentMessageReportsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:sentMessages" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getDeliveryReports">
        <xs:sequence>
          <xs:element minOccurs="0" name="session" type="tns:session" />
          <xs:element minOccurs="0" name="alias" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getDeliveryReportsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:smsMessage" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="serviceTest">
    <wsdl:part name="parameters" element="tns:serviceTest" />
  </wsdl:message>
  <wsdl:message name="serviceTestResponse">
    <wsdl:part name="parameters" element="tns:serviceTestResponse" />
  </wsdl:message>
  <wsdl:message name="createSession">
    <wsdl:part name="parameters" element="tns:createSession" />
  </wsdl:message>
  <wsdl:message name="createSessionResponse">
    <wsdl:part name="parameters" element="tns:createSessionResponse" />
  </wsdl:message>
  <wsdl:message name="renewSession">
    <wsdl:part name="parameters" element="tns:renewSession" />
  </wsdl:message>
  <wsdl:message name="renewSessionResponse">
    <wsdl:part name="parameters" element="tns:renewSessionResponse" />
  </wsdl:message>
  <wsdl:message name="closeSession">
    <wsdl:part name="parameters" element="tns:closeSession" />
  </wsdl:message>
  <wsdl:message name="closeSessionResponse">
    <wsdl:part name="parameters" element="tns:closeSessionResponse" />
  </wsdl:message>
  <wsdl:message name="isSession">
    <wsdl:part name="parameters" element="tns:isSession" />
  </wsdl:message>
  <wsdl:message name="isSessionResponse">
    <wsdl:part name="parameters" element="tns:isSessionResponse" />
  </wsdl:message>
  <wsdl:message name="sendMessages">
    <wsdl:part name="parameters" element="tns:sendMessages" />
  </wsdl:message>
  <wsdl:message name="sendMessagesResponse">
    <wsdl:part name="parameters" element="tns:sendMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="sendMessagesMultiLang">
    <wsdl:part name="parameters" element="tns:sendMessagesMultiLang" />
  </wsdl:message>
  <wsdl:message name="sendMessagesMultiLangResponse">
    <wsdl:part name="parameters" element="tns:sendMessagesMultiLangResponse" />
  </wsdl:message>
  <wsdl:message name="sendCampaignMessages">
    <wsdl:part name="parameters" element="tns:sendCampaignMessages" />
  </wsdl:message>
  <wsdl:message name="sendCampaignMessagesResponse">
    <wsdl:part name="parameters" element="tns:sendCampaignMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="getMessagesFromShortcode">
    <wsdl:part name="parameters" element="tns:getMessagesFromShortcode" />
  </wsdl:message>
  <wsdl:message name="getMessagesFromShortcodeResponse">
    <wsdl:part name="parameters" element="tns:getMessagesFromShortcodeResponse" />
  </wsdl:message>
  <wsdl:message name="getMessagesFromLongNumber">
    <wsdl:part name="parameters" element="tns:getMessagesFromLongNumber" />
  </wsdl:message>
  <wsdl:message name="getMessagesFromLongNumberResponse">
    <wsdl:part name="parameters" element="tns:getMessagesFromLongNumberResponse" />
  </wsdl:message>
  <wsdl:message name="getSentMessageReports">
    <wsdl:part name="parameters" element="tns:getSentMessageReports" />
  </wsdl:message>
  <wsdl:message name="getSentMessageReportsResponse">
    <wsdl:part name="parameters" element="tns:getSentMessageReportsResponse" />
  </wsdl:message>
  <wsdl:message name="getDeliveryReports">
    <wsdl:part name="parameters" element="tns:getDeliveryReports" />
  </wsdl:message>
  <wsdl:message name="getDeliveryReportsResponse">
    <wsdl:part name="parameters" element="tns:getDeliveryReportsResponse" />
  </wsdl:message>
  <wsdl:portType name="EnterpriseSMSWS">
    <wsdl:operation name="serviceTest">
      <wsdl:input name="serviceTest" message="tns:serviceTest" />
      <wsdl:output name="serviceTestResponse" message="tns:serviceTestResponse" />
    </wsdl:operation>
    <wsdl:operation name="createSession">
      <wsdl:input name="createSession" message="tns:createSession" />
      <wsdl:output name="createSessionResponse" message="tns:createSessionResponse" />
    </wsdl:operation>
    <wsdl:operation name="renewSession">
      <wsdl:input name="renewSession" message="tns:renewSession" />
      <wsdl:output name="renewSessionResponse" message="tns:renewSessionResponse" />
    </wsdl:operation>
    <wsdl:operation name="closeSession">
      <wsdl:input name="closeSession" message="tns:closeSession" />
      <wsdl:output name="closeSessionResponse" message="tns:closeSessionResponse" />
    </wsdl:operation>
    <wsdl:operation name="isSession">
      <wsdl:input name="isSession" message="tns:isSession" />
      <wsdl:output name="isSessionResponse" message="tns:isSessionResponse" />
    </wsdl:operation>
    <wsdl:operation name="sendMessages">
      <wsdl:input name="sendMessages" message="tns:sendMessages" />
      <wsdl:output name="sendMessagesResponse" message="tns:sendMessagesResponse" />
    </wsdl:operation>
    <wsdl:operation name="sendMessagesMultiLang">
      <wsdl:input name="sendMessagesMultiLang" message="tns:sendMessagesMultiLang" />
      <wsdl:output name="sendMessagesMultiLangResponse" message="tns:sendMessagesMultiLangResponse" />
    </wsdl:operation>
    <wsdl:operation name="sendCampaignMessages">
      <wsdl:input name="sendCampaignMessages" message="tns:sendCampaignMessages" />
      <wsdl:output name="sendCampaignMessagesResponse" message="tns:sendCampaignMessagesResponse" />
    </wsdl:operation>
    <wsdl:operation name="getMessagesFromShortcode">
      <wsdl:input name="getMessagesFromShortcode" message="tns:getMessagesFromShortcode" />
      <wsdl:output name="getMessagesFromShortcodeResponse" message="tns:getMessagesFromShortcodeResponse" />
    </wsdl:operation>
    <wsdl:operation name="getMessagesFromLongNumber">
      <wsdl:input name="getMessagesFromLongNumber" message="tns:getMessagesFromLongNumber" />
      <wsdl:output name="getMessagesFromLongNumberResponse" message="tns:getMessagesFromLongNumberResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSentMessageReports">
      <wsdl:input name="getSentMessageReports" message="tns:getSentMessageReports" />
      <wsdl:output name="getSentMessageReportsResponse" message="tns:getSentMessageReportsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getDeliveryReports">
      <wsdl:input name="getDeliveryReports" message="tns:getDeliveryReports" />
      <wsdl:output name="getDeliveryReportsResponse" message="tns:getDeliveryReportsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EnterpriseSMSImplServiceSoapBinding" type="tns:EnterpriseSMSWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="serviceTest">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="serviceTest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="serviceTestResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createSession">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createSession">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createSessionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="renewSession">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="renewSession">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="renewSessionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="closeSession">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="closeSession">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="closeSessionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isSession">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="isSession">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="isSessionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMessages">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="sendMessages">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sendMessagesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMessagesMultiLang">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="sendMessagesMultiLang">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sendMessagesMultiLangResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendCampaignMessages">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="sendCampaignMessages">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sendCampaignMessagesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMessagesFromShortcode">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getMessagesFromShortcode">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getMessagesFromShortcodeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMessagesFromLongNumber">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getMessagesFromLongNumber">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getMessagesFromLongNumberResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSentMessageReports">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSentMessageReports">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getSentMessageReportsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDeliveryReports">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getDeliveryReports">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getDeliveryReportsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EnterpriseSMSImplService">
    <wsdl:port name="EnterpriseSMSImplPort" binding="tns:EnterpriseSMSImplServiceSoapBinding">
      <soap:address location="http://202.129.232.190:8585/EnterpriseSMSV3/EnterpriseSMSWS.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>